.blog-page {
  padding: 4rem 0;

  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2rem;

    .page-title {
      font-size: 2.75rem;
      font-weight: 700;
      margin-bottom: 3.5rem;
    }
  }

  @media (max-width: 768px) {
    .blog-page {
      padding: 2rem 0;

      .page-title {
        font-size: 2rem;
        margin-bottom: 2rem;
        font-weight: 700;
      }
    }
  }
}
