.featured-works {
  padding: 2rem 0 4rem;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;

    .section-title {
      font-size: 1.375rem;
      margin-bottom: 2rem;
      font-weight: 400;
    }
  }
}
