<footer class="footer">
  <div class="social-links">
    <a href="#" class="social-icon"><img src="assets/icons/fb.svg" alt="facebook icon" /></a>
    <a href="#" class="social-icon"><img src="assets/icons/insta.svg" alt="instagram icon" /></a>
    <a href="#" class="social-icon"><img src="assets/icons/twitter.svg" alt="twitter icon" /></a>
    <a href="#" class="social-icon"><img src="assets/icons/linkedin.svg" alt="linkedin icon" /></a>
  </div>
  <p class="copyright">Copyright &copy;2020 All rights reserved</p>
</footer>
